body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: transparent;
}
h1 {
    font-weight: 400;
    margin: 0;
    padding: 0;
}
h2 {
    font-weight: 400;
    margin: 0;
    padding: 0;
}